<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
{{pageTitle}}
  </title>
</head>

<body>
  {{>header}}<!--this takes the footer from partials folder-->
  <p>information here
    <a href="http://localhost:3000/about">click for more information</a>
  </p>
<!--  <footer>
    <p>Copyright {{currentYear}}</p>
  </footer>
-->
{{>footer}}<!--this takes the footer from partials folder-->
</body>

</html>
