<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
{{pageTitle}}
  </title>
</head>

<body>
  {{>header}}<!--this takes the header from partials folder-->
  <p>{{welcomeMessage}}</p>
  <p>{{screamIt welcomeMessage}}</p>
  {{>footer}}<!--this takes the footer from partials folder-->

</body>

</html>
