<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
{{pageTitle}}
  </title>
</head>

<body>
  <h1>{{pageTitle}}</h1><!--we pass in the page title-->
  <p>{{welcomeMessage}}</p>
  {{>footer}}<!--this takes the footer from partials folder-->

</body>

</html>
